body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

#container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

#sankeyContainer {
  flex: 1;
  overflow: hidden;

  #tooltip {
    display: none;
    position: absolute;
    pointer-events: none;
    background: black;
    color: white;
    max-width: 200px;
    padding: 5px 10px;
    text-align: center;

    &.active {
      display: block;
    }
  }

  svg.ready {
    path.link {
      pointer-events: stroke;
      transition: stroke-opacity 300ms;

      &:hover {
        stroke-opacity: 0.6 !important;
        transition: stroke-opacity 0s;
      }
    }
  }
}

#controls {
  text-align: center;
  padding: 20px;
  padding-top: 0;
}
